[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mplfinance = "*"
yfinance = "*"
twelvedata = "*"

[dev-packages]

[requires]
python_version = "3.12"
