<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        

        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>



        <style>
            .dropdown:focus-within .dropdown-menu {
            /* @apply block; */
            display:block;
            }
        </style>
    </head>

    <body class="bg-gray-900">

        <section id="filter_section" class="flex justify-between  w-full h-24 px-8 my-5">
            <div class="flex space-x-3">
                    <div class="dropdown inline-block relative">
                        <button class="rounded-lg border-2 border-gray-600 text-gray-200 font-semibold h-12 px-4 rounded inline-flex items-center">
                        <span id="time_frame_selector" class="mr-1">All</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                            <li class="" onclick="selectTimeFrame('All')"><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">All</a></li>
                            <li class="" onclick="selectTimeFrame('Date Range')"><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Date Range</a></li>
                            <li class="" onclick="selectTimeFrame('Yearly')"><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Yearly</a></li>
                            <li class="" onclick="selectTimeFrame('Monthly')"><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Monthly</a></li>
                            <!-- <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Weekly</a></li> -->
                            <li class="" onclick="selectTimeFrame('Daily')"><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Daily</a></li>
                        </ul>
                    </div>

                    <div>
                        <input id="date_input" class="h-12 rounded-lg border-2 border-gray-600 text-gray-200 text-center" />
                    </div>

                    <div class="dropdown inline-block relative">
                        <button class="rounded-lg border-2 border-gray-600 text-gray-200 font-semibold h-12 px-4 rounded inline-flex items-center">
                        <span id="account_selector" class="mr-1">All</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                            <li class=""><a class="account rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">All</a></li>
                            <!-- <li class=""><a class="account  bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">1st Paper Trading</a></li>
                            <li class=""><a class="account  bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Binance</a></li> -->

                            {% for a in accounts %}
                                <li class=""><a class="account  bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">{{a}}</a></li>
                            {% endfor %}

                            <li class="flex justify-center bg-gray-200 rounded-b" data-modal-target="new_account_modal" data-modal-toggle="new_account_modal">
                                <button type="button" class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>

            </div>
            
            <div class="flex space-x-3">
                <button data-modal-target="new_trade_modal" data-modal-toggle="new_trade_modal" class="h-12 rounded-lg px-4 py-2 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">New Trade</button>
                <button class="h-12 rounded-lg px-4 py-2 border-2 border-gray-600 text-gray-200 hover:bg-gray-600 hover:text-gray-100 duration-300">See Open Trades</button>
            </div>            
        </section>

        <section id="stats" class="px-8 my-5">
            <div class="flex flex-row justify-between">
                <div class="rounded-lg border-2 border-gray-600 h-60 w-1/5 flex flex-col">
                    <h2 class="text-gray-400 text-2xl p-2">Total € P/L </h2>
                    <p class="text-center flex-grow content-center text-6xl text-green-200">1473.02€</p>
                </div>

                <div class="rounded-lg border-2 border-gray-600 h-60 w-1/5">
                    <h2 class="text-gray-400 text-2xl p-2">Win Rate (66.32%)</h2>
                    <div class="h-3/4 w-full"><canvas id="win_rate_chart"></canvas></div>
                </div>

                <div class="rounded-lg border-2 border-gray-600 h-60 w-1/5 flex flex-col">
                    <h2 class="text-gray-400 text-2xl p-2">Profit Factor</h2>
                    <div class="text-center flex-grow content-center"><span class="text-6xl text-green-200">2.03€</span> <span class="text-6xl text-gray-200">for every</span> <span class="text-6xl text-red-200">1€</span></div>
                </div>

                <div class="rounded-lg border-2 border-gray-600 h-60 w-1/5 flex flex-wrap">
                    <div class="border-1 border-gray-600 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-green-200">Largest Winning Trade</h3>
                        <a href="#" class="flex-grow content-center" onclick="open_trade_detail_modal('trade_id')"><p class="text-gray-200 text-4xl text-center">2103€</p></a> 
                    </div>

                    <div class="border-1 border-gray-600 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-red-200">Largest Loosing Trade</h3>
                        <a href="#" class="flex-grow content-center" onclick="open_trade_detail_modal('trade_id')"><p class="text-gray-200 text-4xl text-center">605€</p></a> 
                    </div>

                    <div class="border-1 border-gray-600 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-green-200">Average Winning Trade</h3>
                        <p class="text-gray-200 text-4xl text-center flex-grow content-center">1040€</p>
                    </div>

                    <div class="border-1 border-gray-600 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-red-200">Average Loosing Trade</h3>
                        <p class="text-gray-200 text-4xl text-center flex-grow content-center">384€</p>
                    </div>
                </div>
                

            </div>

            <div class="border-gray-600 rounded-lg border-2 h-105 w-full mt-5">
                <h2 class="text-gray-400 text-2xl p-2">Equity Curve</h2>
                <div class="h-3/4 w-full"><canvas id="equity_curve_chart"></canvas></div>
            </div>

        </section>


        <section id="ledger" class="px-8 my-15">
            <h1 class="text-6xl text-gray-200 my-5">Ledger</h1>            

            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Month
                            </th>
                            <th scope="col" class="px-6 py-3">
                                # Trades
                            </th>
                            <th scope="col" class="px-6 py-3">
                                # Winning
                            </th>
                            <th scope="col" class="px-6 py-3">
                                # Losing
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Gross € P/L
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Commision €
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Net € P/L
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Running € P/L
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                January
                            </th>
                            <td class="px-6 py-4">
                                46
                            </td>
                            <td class="px-6 py-4">
                                21
                            </td>
                            <td class="px-6 py-4">
                                25
                            </td>
                            <td class="px-6 py-4">
                                4295.00
                            </td>
                            <td class="px-6 py-4">
                                -600.92
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                February
                            </th>
                            <td class="px-6 py-4">
                                46
                            </td>
                            <td class="px-6 py-4">
                                21
                            </td>
                            <td class="px-6 py-4">
                                25
                            </td>
                            <td class="px-6 py-4">
                                4295.00
                            </td>
                            <td class="px-6 py-4">
                                -600.92
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                March
                            </th>
                            <td class="px-6 py-4">
                                46
                            </td>
                            <td class="px-6 py-4">
                                21
                            </td>
                            <td class="px-6 py-4">
                                25
                            </td>
                            <td class="px-6 py-4">
                                4295.00
                            </td>
                            <td class="px-6 py-4">
                                -600.92
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <textarea id="message" rows="4" class="mt-5 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Analyse your trading period"></textarea>
            <div class="w-full flex justify-center">
                <button type="button" class="mt-3 text-white bg-blue-500 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                    Ajouter une note
                </button>
            </div>
            
        </section>


        <section id="trades"class="px-8 my-15">
            <h1 class="text-6xl text-gray-200 my-5">Trades</h1>            

            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Trade ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Open Datetime
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Close Datetime
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Symbol
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Position
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Timeframe
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Trade Size
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Trade Price in €
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Commision
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Net € P/L
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Account
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in temp_trade %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-600" onclick="window.location = 'trade_detail?trade_id={{t.id}}'">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{t.id}}
                            </th>
                            <td class="px-6 py-4">
                                <span class="rounded-lg bg-green-500 text-gray-200 px-2">{{t.status}}</span>
                            </td>
                            <td class="px-6 py-4">
                                {{t.date_open|date:"d/m/Y H:i"}}
                            </td>
                            <td class="px-6 py-4">
                                {{t.date_closed|date:"d/m/Y H:i"}}
                            </td>
                            <td class="px-6 py-4">
                                {{t.symbol}}
                            </td>
                            <td class="px-6 py-4">
                                <span class="rounded-lg bg-green-500 text-gray-200 px-2">{{t.position}}</span>
                            </td>
                            <td class="px-6 py-4">
                                {{t.timeframe}}
                            </td>
                            <td class="px-6 py-4">
                                {{t.trade_size}}
                            </td>
                            <td class="px-6 py-4">
                                {{t.trade_total_cost}}
                            </td>
                            <td class="px-6 py-4">
                                <span class="text-red-500">{{t.commission_fee}}</span>
                            </td>
                            <td class="px-6 py-4">
                                {{t.pl}}
                            </td>
                            <td class="px-6 py-4">
                                {{t.account_id.name}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Add trade form modal -->
        <div id="new_trade_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full mx-8">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                        <h3 class="text-xl font-semibold text-gray-200 dark:text-white">
                            New Trade
                        </h3>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4 text-gray-200">
                        <form method="post" action="new_trade">
                            {% csrf_token %}
                            {{ new_trade_form.as_p }}
                            <button class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit">Send</button>
                        </form>
                    </div>       
                </div>
            </div>
        </div>

        <!-- Add account form modal -->
        <div id="new_account_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full mx-8">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                        <h3 class="text-xl font-semibold text-gray-200 dark:text-white">
                            New Account
                        </h3>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                        <form method="post" action="new_account">
                            {% csrf_token %}
                            {{ new_account_form.as_p }}
                            <button type="submit">Send</button>
                        </form>
                    </div>       
                </div>
            </div>
        </div>

        <!-- See Open trade modal -->


    </body>


<script>

    let en_loc = {
        days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        daysMin: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
        months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        today: "Today",
        clear: "Clear",
        firstDay: 0
    }

    new AirDatepicker("#new_trade_open_date_input", {locale: en_loc, timepicker: true, dateFormat: "MM/dd/yyyy", timeFormat: "HH:mm:00"})

    selectTimeFrame('All')

    function selectTimeFrame(time_frame) {
        document.getElementById('time_frame_selector').innerHTML = time_frame
        document.getElementById('date_input').value = ""


        //TODO DELETE OLD AIR_DATEPICKER
        
        switch (time_frame) {
            case "All":
                document.getElementById('date_input').disabled = true
                //load content

                break;
            case "Date Range":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, range: true})
                
                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {
                    let val = document.getElementById('date_input').value
                    
                    if (val.indexOf(",") > -1) {
                        //load data
                        alert(val)
                    }
                }

                break;
            case "Yearly":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, view: "years", minView: 'years'})

                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {alert(document.getElementById('date_input').value)}

                break;
            case "Monthly":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, view: "months", minView: 'months'})
                
                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {alert(document.getElementById('date_input').value)}

                break;
            case "Daily":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, view: "days", minView: 'days'})

                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {alert(document.getElementById('date_input').value)}

                break;
            default:
                console.log("selectTimeFrame error " + time_frame)
                break;
        }
    }
</script>

<script>
    document.getElementById('account_selector').innerHTML = 'All'

    let account_links = document.getElementsByClassName('account')
    for(var i = 0; i < account_links.length; i++) {
        var account_link = account_links[i]
        console.log(this)
        account_link.onclick = function() {
            document.getElementById('account_selector').innerHTML = this.innerHTML
            //load data if possible
        }
    }

</script>

<script>
    //WIN RATE CHART
    let win_rate_data = {
        'labels': ['Won', 'Lost'],
        datasets: [{
            label: 'Win Rate Ratio',
            data: [65, 33],
            backgroundColor: ['oklch(79.2% 0.209 151.711)', 'oklch(70.4% 0.191 22.216)'],
            hoverOffset: 10
        }]
    }

    new Chart(document.getElementById('win_rate_chart'),
    {
        type: 'doughnut',
        data: win_rate_data,
        options: {responsive: true, maintainAspectRatio: false}
    })


    //EQUITY CURVE CHART
    let equity_curve_data = {
        'labels': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Equity Curve',
            data: [65, 59, 80, 81, 56, 55, 40, 35, 37, 43, 47, 66],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    }

    new Chart(document.getElementById('equity_curve_chart'),
    {
        type: 'line',
        data: equity_curve_data,
        options: {responsive: true, maintainAspectRatio: false}
    })

</script>

</html>


