<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        


        <style>
            .dropdown:focus-within .dropdown-menu {
            /* @apply block; */
            display:block;
            }
        </style>
    </head>

    <body class="bg-gray-900">

        <section id="filter_section" class="flex justify-between  w-full h-24 px-8 my-5">
            <div class="flex space-x-3">
                    <div class="dropdown inline-block relative">
                        <button class="rounded-lg border-2 border-gray-200 text-gray-200 font-semibold h-12 px-4 rounded inline-flex items-center">
                        <span id="time_frame_selector" class="mr-1">All</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                            <li class="" onclick="selectTimeFrame('All')"><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">All</a></li>
                            <li class="" onclick="selectTimeFrame('Date Range')"><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Date Range</a></li>
                            <li class="" onclick="selectTimeFrame('Yearly')"><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Yearly</a></li>
                            <li class="" onclick="selectTimeFrame('Monthly')"><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Monthly</a></li>
                            <!-- <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Weekly</a></li> -->
                            <li class="" onclick="selectTimeFrame('Daily')"><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Daily</a></li>
                        </ul>
                    </div>

                    <div>
                        <input id="date_input" class="h-12 rounded-lg border-2 border-gray-200 text-gray-200 text-center" />
                    </div>

                    <div class="dropdown inline-block relative">
                        <button class="rounded-lg border-2 border-gray-200 text-gray-200 font-semibold h-12 px-4 rounded inline-flex items-center">
                        <span class="mr-1">Account</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                            <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">1st Paper Trading</a></li>
                            <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Binance</a></li>
                        </ul>
                    </div>

            </div>
            
            <div class="flex space-x-3">
                <button class="h-12 rounded-lg px-4 py-2 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">New Trade</button>
                <button class="h-12 rounded-lg px-4 py-2 border-2 border-gray-200 text-gray-200 hover:bg-gray-600 hover:text-gray-100 duration-300">See Open Trades</button>
            </div>            
        </section>

        <section id="stats" class="px-8 my-5">
            <div class="flex flex-row justify-between">
                <div class="rounded-lg border-2 border-gray-200 h-60 w-1/5 flex flex-col">
                    <h2 class="text-gray-400 text-2xl p-2">Total € P/L </h2>
                    <p class="text-center flex-grow content-center text-6xl text-green-200">1473.02€</p>
                </div>

                <div class="rounded-lg border-2 border-gray-200 h-60 w-1/5">
                    <h2 class="text-gray-400 text-2xl p-2">Win Rate (66.32%)</h2>
                    <div class="h-3/4 w-full"><canvas id="win_rate_chart"></canvas></div>
                </div>

                <div class="rounded-lg border-2 border-gray-200 h-60 w-1/5 flex flex-col">
                    <h2 class="text-gray-400 text-2xl p-2">Profit Factor</h2>
                    <div class="text-center flex-grow content-center"><span class="text-6xl text-green-200">2.03€</span> <span class="text-6xl text-gray-200">for every</span> <span class="text-6xl text-red-200">1€</span></div>
                </div>

                <div class="rounded-lg border-2 border-gray-200 h-60 w-1/5 flex flex-wrap">
                    <div class="border-1 border-gray-200 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-green-200">Largest Winning Trade</h3>
                        <a href="#" class="flex-grow content-center"><p class="text-gray-200 text-4xl text-center">2103€</p></a> 
                        <!-- TODO GIVE LINK TO TRADE -->
                    </div>

                    <div class="border-1 border-gray-200 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-red-200">Largest Loosing Trade</h3>
                        <a href="#" class="flex-grow content-center"><p class="text-gray-200 text-4xl text-center">605€</p></a> 
                        <!-- TODO GIVE LINK TO TRADE -->
                    </div>

                    <div class="border-1 border-gray-200 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-green-200">Average Winning Trade</h3>
                        <p class="text-gray-200 text-4xl text-center flex-grow content-center">1040€</p>
                    </div>

                    <div class="border-1 border-gray-200 w-1/2 h-1/2 box-border flex flex-col">
                        <h3 class="text-xs px-2 text-red-200">Average Loosing Trade</h3>
                        <p class="text-gray-200 text-4xl text-center flex-grow content-center">384€</p>
                    </div>
                </div>
                

            </div>

            <div class="border-gray-200 rounded-lg border-2 h-105 w-full mt-5">
                <h2 class="text-gray-400 text-2xl p-2">Equity Curve</h2>
                <div class="h-3/4 w-full"><canvas id="equity_curve_chart"></canvas></div>
            </div>

        </section>


        <section id="ledger" class="h-170 px-8 my-15 ">
            <h1 class="text-6xl text-gray-200 my-5">Ledger</h1>            

            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Month
                            </th>
                            <th scope="col" class="px-6 py-3">
                                # Trades
                            </th>
                            <th scope="col" class="px-6 py-3">
                                # Winning
                            </th>
                            <th scope="col" class="px-6 py-3">
                                # Losing
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Gross € P/L
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Commision €
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Net € P/L
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Running € P/L
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                January
                            </th>
                            <td class="px-6 py-4">
                                46
                            </td>
                            <td class="px-6 py-4">
                                21
                            </td>
                            <td class="px-6 py-4">
                                25
                            </td>
                            <td class="px-6 py-4">
                                4295.00
                            </td>
                            <td class="px-6 py-4">
                                -600.92
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                February
                            </th>
                            <td class="px-6 py-4">
                                46
                            </td>
                            <td class="px-6 py-4">
                                21
                            </td>
                            <td class="px-6 py-4">
                                25
                            </td>
                            <td class="px-6 py-4">
                                4295.00
                            </td>
                            <td class="px-6 py-4">
                                -600.92
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                March
                            </th>
                            <td class="px-6 py-4">
                                46
                            </td>
                            <td class="px-6 py-4">
                                21
                            </td>
                            <td class="px-6 py-4">
                                25
                            </td>
                            <td class="px-6 py-4">
                                4295.00
                            </td>
                            <td class="px-6 py-4">
                                -600.92
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                            <td class="px-6 py-4">
                                3694.08
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- TODO INCLUDE LEDGER NOTES -->

        </section>


        <section id="trades">

        </section>

    </body>


<script>

    let en_loc = {
        days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        daysMin: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
        months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        today: "Today",
        clear: "Clear",
        firstDay: 0
    }

    selectTimeFrame('All')

    function selectTimeFrame(time_frame) {
        document.getElementById('time_frame_selector').innerHTML = time_frame
        document.getElementById('date_input').value = ""


        //TODO DELETE OLD AIR_DATEPICKER
        
        switch (time_frame) {
            case "All":
                document.getElementById('date_input').disabled = true
                //load content

                break;
            case "Date Range":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, range: true})
                
                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {
                    let val = document.getElementById('date_input').value
                    
                    if (val.indexOf(",") > -1) {
                        //load data
                        alert(val)
                    }
                }

                break;
            case "Yearly":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, view: "years", minView: 'years'})

                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {alert(document.getElementById('date_input').value)}

                break;
            case "Monthly":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, view: "months", minView: 'months'})
                
                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {alert(document.getElementById('date_input').value)}

                break;
            case "Daily":
                document.getElementById('date_input').disabled = false
                new AirDatepicker("#date_input", {locale: en_loc, view: "days", minView: 'days'})

                //create call back for the calendar selection to load data
                document.getElementById('date_input').onchange = function() {alert(document.getElementById('date_input').value)}

                break;
            default:
                console.log("selectTimeFrame error " + time_frame)
                break;
        }
    }
</script>

<script>
    //WIN RATE CHART
    let win_rate_data = {
        'labels': ['Won', 'Lost'],
        datasets: [{
            label: 'Win Rate Ratio',
            data: [65, 33],
            backgroundColor: ['oklch(79.2% 0.209 151.711)', 'oklch(70.4% 0.191 22.216)'],
            hoverOffset: 10
        }]
    }

    new Chart(document.getElementById('win_rate_chart'),
    {
        type: 'doughnut',
        data: win_rate_data,
        options: {responsive: true, maintainAspectRatio: false}
    })


    //EQUITY CURVE CHART
    let equity_curve_data = {
        'labels': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Equity Curve',
            data: [65, 59, 80, 81, 56, 55, 40, 35, 37, 43, 47, 66],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    }

    new Chart(document.getElementById('equity_curve_chart'),
    {
        type: 'line',
        data: equity_curve_data,
        options: {responsive: true, maintainAspectRatio: false}
    })

</script>

</html>


